SKP_USERNAME=
SKP_PASSWORD=
SKP_BASE_URL=
KAEMSKP_PORT=
SUPABASE_URL=
SUPABASE_REST_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_DATABASE_URL=
KAEMSKP_MIGRATION_USER_ID=
SKP_CREDENTIAL_ENCRYPTION_KEY=
DATA_BACKEND=
WORKER_DRY_RUN=
WORKER_TICK_SECONDS=
WORKER_ALLOW_REAL_SEND=
